################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreSecurity.Cookie/obj
/AspNetCoreSecurity.Cookie/bin/Debug/net8.0
*.user
/.vs/AspNetCoreSecurityExample/DesignTimeBuild
/.vs/AspNetCoreSecurityExample/FileContentIndex
/.vs/AspNetCoreSecurityExample/v17
/.vs/ProjectEvaluation
*.config
